* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ffafbd, #ffc3a0);
}

.container {
    text-align: center;
}

.open-button {
    padding: 50px 50px;
    font-size: 20px;
    background-color: #FF69B4;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex; /* Para alinear imagen y texto */
    align-items: center;
    gap:10px; /* Espacio entre imagen y texto */
    transition: background-color 0.3s ease;
}

.open-button:hover {
    background-color: #ff8ec6;
}

.button-image {
    width: 50px; /* Tamaño del icono */
    height: 50px;
}

.card {
    display: none;
    background-color: white;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 25px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    text-align: center;
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.card.show {
    transform: scale(1);
    opacity: 1;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.text h2 {
    color: #FF69B4;
    font-size: 23px;
    margin-bottom: 15px;
}

.text p {
    font-size: 10px;
    color: #333;
    line-height: 1.4;
}

.close-button {
    font-size: 24px;
    color: #333;
    float: right;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-button:hover {
    color: #FF69B4;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        padding: 20px;
    }

    .text h2 {
        font-size: 22px;
    }

    .text p {
        font-size: 16px;
    }
}
